
    
      img {
          width:350px;
          height:auto
      }

         /* Added font family */
      body {
        font-family: 'Antic Slab', serif; 
        background-color: rgb(247, 243, 244);
      }
      /* Container outline */
    
    
         /* Added font family to My Biography */
      h1 {
          font-family: 'Roboto', sans-serif;
          font-size: 40px;
          font-variant:small-caps;
          color: rgb(0, 4, 5); 
          padding: 10px;
          text-align: center;
    
      }
    
      
    
    
        
        
    
 